<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="5.0.129" targetFramework="net48" />
  <package id="Magick.NET.Core" version="14.10.0" targetFramework="net48" />
  <package id="Magick.NET.SystemWindowsMedia" version="8.0.13" targetFramework="net48" />
  <package id="Magick.NET-Q16-HDRI-AnyCPU" version="14.10.0" targetFramework="net48" />
  <package id="Mono.Options" version="6.12.0.148" targetFramework="net48" />
</packages>