<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET.Core" version="8.3.0" targetFramework="net48" />
  <package id="Magick.NET.SystemWindowsMedia" version="4.0.5" targetFramework="net48" />
  <package id="Magick.NET-Q16-HDRI-AnyCPU" version="8.3.0" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net48" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net48" />
</packages>