<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File" encoding="utf-8" enableFileDelete="true"
            layout="${date:format=yyyyMMdd_HHmmss.ffff}|${level:uppercase=true}|${message}"
            fileName="${basedir:processDir=true}/logs/${date:format=yyyyMMdd}_${level:uppercase=true}.log"
            fileAttributes="Archive" maxArchiveDays="31"
            archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd" archiveFileName="${basedir}/logs/{#}_${level:uppercase=true}.log"/>
    <target name="logconsole" xsi:type="ColoredConsole" layout="${date:format=yyyyMMdd_HHmmss.ffff}|${level:uppercase=true}|${message}" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>