<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="ControlzEx" version="5.0.2" targetFramework="net48" />
  <package id="Dfust.Hotkeys" version="1.2.6206.24906" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.11" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Core" version="6.1.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks.Modern" version="6.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.10" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="MouseKeyHook" version="5.7.1" targetFramework="net48" />
  <package id="NBug" version="1.2.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="NLog" version="6.0.5" targetFramework="net48" />
  <package id="Prism.Container.Abstractions" version="9.0.107" targetFramework="net48" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Wpf" version="9.0.537" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.10" targetFramework="net48" />
  <package id="System.Management" version="9.0.10" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="WPFNotification" version="1.1.0" targetFramework="net47" />
  <package id="WriteableBitmapEx" version="1.6.9" targetFramework="net48" />
</packages>